#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.circle-mouse {
    position: absolute;
    background-color: #09f;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    left: -20px;
    top: -20px;
    width: 48px;
    height: 48px;
}